{% extends 'base.html.twig' %}

{% block title %}New ProgrammingLanguage{% endblock %}

{% block body %}
    <h1>Create new ProgrammingLanguage</h1>

    {{ include('programming_language/_form.html.twig') }}

    <a href="{{ path('programming_language_index') }}">back to list</a>
{% endblock %}
